button {
    height: 6vh;
    border: 2px solid black;

    background-color: $lemon-chiffon;
    font: $regular 16px $roboto-mono;

    @include for-phone-landscape;
    @include for-phone {
        font: $regular 22px $roboto-mono;
    }

    &:hover,
    &:active {
        transform: scale(1.1);
    }

    &:active,
    &:focus {
        box-shadow: inset -2px -2px 0 mix($lemon-chiffon, #000, 60%);
    }

    &.js-choose-mark-btn {
        width: 16vh;

        margin: 0 1vh;
        padding: 0;

        font-size: 18px;
        line-height: 18px;
        
        @include for-big-desktop;
        @include for-desktop;
        @include for-tablet {
            margin: 3vh 2vh 0 2vh;
        }
    }

    &.js-restart-btn {
        width: 20vh;
    }
}

.xMark {
    margin: auto;
    font: $medium 50px $roboto-mono;
    padding-bottom: 8%;
    line-height: 10px;
}

.heart-icon {
    display: block;
    margin: auto;
    transform: scale(0.7);
}

#js-restart-game {
    display: grid;
    grid-gap: 0.2em;
    place-content: center;
    width: 60vw;
    height: 26vh;
    border: 2px solid black;
    font: $regular 16px $roboto-mono;

    .js-restart-btn {
        place-self: center;
    }
}