body {
    display: grid;
    grid-template-rows: 10% auto 10%; 
    @include for-phone-landscape;
    @include for-phone {
        grid-template-rows: 15% auto 10%; 
    }
    justify-items: center;

    margin: 0;

    width: 100vw;
    height: 100vh;

    background-color: $cupid;

    h1 {
        font: $semi-bold-italic 30px $roboto-mono;
        color: $lemon-chiffon;
        text-shadow: 2px 2px #000;
    }

    main {
        display: grid;
        grid-template-rows: 20% auto 20%; 
        justify-items: center;
        align-items: center;

        height: 100%;

        @include for-phone-landscape;
        @include for-phone {
            height: 70%;
            grid-gap: 2em;
        }

        table {
            @include for-phone-landscape;
            @include for-phone {
                width: 34vh;
                height: 34vh;
            }
           
            @include for-big-desktop;
            @include for-desktop;
            @include for-tablet {
                width: 42vh;
                height: 42vh;
            }
    
            border-collapse: collapse;
            
            td {
                padding: 0;
                margin: 0;

                font: $regular 30px $roboto-mono;
                text-align: center;
                vertical-align: middle;
                
                @include for-phone-landscape;
                @include for-phone {
                    width: 30%;
                    height: 30%;
                }
    
                @include for-big-desktop;
                @include for-desktop;
                @include for-tablet {
                    width: 30%;
                    height: 30%;
                }
            }
    
            .vertical-border {
                border-left: 5px solid mix($cupid, #fff, 60%);
                border-right: 5px solid mix($cupid, #fff, 60%);
            }
        
            .horizontal-border {
                border-top: 5px solid mix($cupid, #fff, 60%);
                border-bottom: 5px solid mix($cupid, #fff, 60%);
            }
        }

        #restart-btn {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 2fr 1fr;
            place-items: center;

            @include for-phone-landscape;
            @include for-phone {
                margin-top: 8vh;
                width: 90%;
            }

            .js-heart {
                transform: scale(0.7);
            }
        }
    }
}
